<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <p>¿Lo has conseguido?</p>
    <p>¡Genial!</p>
    <p>Mete la clave secreta para descifrar las pistas:</p>
    <input class="input" type="text" [(ngModel)]="clave" placeholder="Introduce la clave">
    <p *ngIf="error" style="color: red;">Clave incorrecta. Inténtalo de nuevo.</p>
    <button class="btnA" (click)="siguiente()">Ok</button>
    <button class="btnA" (click)="ayuda()">Ayuda</button>
</div>
