<header>
    <nav>
      <!-- <div class="branding">
        <img src="images/GeobiziLogo.png" class="logo" alt="Geobizi Logo">
      </div> -->
      <div class="icon">
        <button (click)="toggleMobileNav()">
          <img [class.icon-active]="mobileNavOpen" src="images/Hojitas.png" class="hojitas" alt="Menu">
        </button>
      </div>
      <ul [ngClass]="{'dropdown-nav': true, 'open': mobileNavOpen, 'close': !mobileNavOpen}">
        <li>
          <a routerLink="/inicio" (click)="closeMobileNav()">Inicio</a>
        </li>

        <li>
          <a routerLink="/context" (click)="closeMobileNav()">Contexto</a>
        </li>

        <li>
          <a routerLink="/instructions" (click)="closeMobileNav()">Instrucciones</a>
        </li>

        <li>
          <a routerLink="/zona1" (click)="closeMobileNav()">Zona 1</a>
        </li>

        <li>
          <a routerLink="/zona2" (click)="closeMobileNav()">Zona 2</a>
        </li>

        <li>
          <a routerLink="/zona3" (click)="closeMobileNav()">Zona 3</a>
        </li>

        <li>
          <a routerLink="/zona4" (click)="closeMobileNav()">Zona 4</a>
        </li>

        <li>
          <a routerLink="/zona5" (click)="closeMobileNav()">Zona 5</a>
        </li>

        <li>
          <a routerLink="/contact" (click)="closeMobileNav()">Contacto</a>
        </li>


      </ul>
    </nav>
  </header>
  