<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Ya hemos viajado en el tiempo hasta hace 66 millones de años!</p>
        <p>La Tierra era un lugar muy distinto antes de este momento, llena de criaturas impresionantes como los dinosaurios. Pero entonces, ¡bum! Un gigantesco meteorito cayó en lo que hoy conocemos como la península de Yucatán, en un lugar llamado Chicxulub.</p>

        <p>Ese meteorito liberó una cantidad de energía inimaginable, como si millones de bombas explotaran a la vez, y fue el evento que provocó la extinción de los dinosaurios.</p> 
        <p>El impacto fue tan grande que dejó una marca imborrable en el planeta, y el estrato amarillento que ves ahora es un recuerdo de ese cataclismo cósmico.</p>

        <p>Así que, cuando miras ese estrato de 66 millones de años, estás viendo un trocito de historia que marcó el fin de los dinosaurios y el comienzo de una nueva era para la vida en la Tierra.</p>
        <p>¿Crees que tendrá relación con lo que está ocurriendo ahora mismo?</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
