<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">
        <h4>Primera pregunta</h4>
        <p>Vamos a empezar tanteando el entorno para ver qué podemos descubrir.</p>
        <h5>¿De qué color es la gran falla que atraviesa las rocas de arriba a abajo?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Gris" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Gris', 'incorrecta': respuestaIncorrecta && seleccion === 'Gris' && comprobarPressed}">Gris</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Blanca" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Blanca', 'incorrecta': respuestaIncorrecta && seleccion === 'Blanca' && comprobarPressed}">Blanca</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Roja" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Roja', 'incorrecta': respuestaIncorrecta && seleccion === 'Roja' && comprobarPressed}">Roja</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>
    </div>
</div>