<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
    <h4>Pista</h4>
    <p>Cuando se utiliza "arqueo-" como prefijo, se refiere a algo relacionado con la antigüedad o el pasado remoto.</p>
    <p>Es un elemento compositivo que proviene del griego "arkhaíos" (ἀρχαῖος), que significa "antiguo" o "primitivo".</p>
    <p>Por ejemplo:</p>
    <p>Arqueología: estudio de las sociedades antiguas a través de sus restos materiales.</p>
    <button class="btnA" (click)="volver()">OK</button>
    </div>
</div>