<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Vaya, parece que la bruja <b>Paleo Sorgiña</b> ha absorbido parte de la energía del <i>meteorito</i>!</p> 
        <p>Pero no todas las criaturas sucumbieron ente el <b>cambio climático</b> que provocó este evento. El misterioso <b>Paleodictyon</b>, ha logrado mantenerse en el tiempo de una manera sorprendente.</p>

        <p>El <b>Paleodictyon</b> no es un fósil de una criatura gigante o temible como los dinosaurios. ¡Es mucho más discreto! De hecho, es conocido por los <i>patrones geométricos</i> en forma de redes que dejaba en el fondo del mar, y estos <b>fósiles</b> han sobrevivido a la <i>gran extinción</i> que acabó con los <b>dinosaurios</b>.</p>

        <p>Aunque muchos animales como los <b>Ammonites</b> desaparecieron tras el impacto del meteorito, el <b>Paleodictyon</b> siguió dejando su huella en la Tierra. Así que, si alguna criatura de las que encontramos por aquí pudo esquivar <i>la extinción</i> y continuar su historia, ¡sin duda fue el <b>Paleodictyon</b>!</p>

        <button (click)="volver()" class="btnA">Ok</button>
    </div>

</div>
