<div id="cont" class="container centre index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <h1>Flysch Digital</h1>

    <h3>Instrucciones</h3>

    <p>La yincana contiene diferentes preguntas, sugerencias de actividades y explicaciones para 5 zonas de la playa.</p>
    <p>Puedes realizarlas en el orden que prefieras, pero te recomendamos que sigas el orden marcado empezando por la zona de "El Peñón".</p>
    <p>Si te atascas en una prueba o no encuentras lo que buscas, sigue con las siguientes. Inténtalo, pero no desesperes. A veces no se encuentra todo lo que se busca.</p>
    <p>Si necesitas ayuda busca a alguien con la camiseta de Geobizi. Andará por la playa...</p>
    
    <h3>¡Suerte!</h3>
    
    <button class="btnA" (click)="goToZonas()">Empezar</button>
    
    <button class="btnA" (click)="goToContext()">Contexto</button>

    <button class="btnA" (click)="goToContact()">Contacto</button>

</div>