<div id="cont" class="container centre index animate__animated animate__fadeIn">
    <div class="margen">

        <h1>Flysch Digital</h1>
    
        <h2>Instrucciones</h2>
    
        <p>La yincana contiene diferentes preguntas, sugerencias de actividades y explicaciones para 5 zonas de la playa.</p>
        <p>La yincana comienza en la zona del Peñon y termina al otro lado de la playa.</p>
        <p>Si te atascas en una prueba o no encuentras lo que buscas, continúa con las siguientes. Inténtalo, pero no desesperes. A veces no se encuentra todo lo que se busca.</p>
        <p>Si necesitas ayuda busca a alguien con la camiseta negra de Geobizi o una gorra verde de Geotxiki. Andará por la playa...</p>
        
        <h3>¡Suerte!</h3>
        
        <button class="btnA" (click)="goToZonas()">Empezar</button>
    
        <button class="btnA" (click)="goToContact()">Contacto</button>
    
    </div>
</div>