<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Has acertado! En esta parte de la playa, las rocas no son las mismas que vimos antes. Ahora podemos ver una interesante intercalación de <b>calizas</b>, <b>margas</b> y algo más... ¡<b>areniscas</b>!</p>

        <p>Las <b>calizas</b> son esas rocas más claras y suaves que ya hemos visto antes, pero ahora, entre ellas, aparece un nuevo tipo de roca marronácea, algo más rugosa al tacto. ¡Es la <b>arenisca</b>! Esta roca se forma a partir de arena compactada y suele indicar una mayore energía en la zona.</p>

        <p>Y no podemos olvidar las <b>margas</b>, que son si fueran una mezcla entre calizas y arcillas. ¡Un verdadero rompecabezas geológico que nos cuenta cómo ha cambiado esta zona a lo largo de millones de años!</p>
    <button (click)="volver()" class="btnA">Ok</button>
    </div>



</div>
