<div id="cont" class="centre container index animate__animated animate__fadeIn">
  
<div class="margen">

    <h2>Explicación</h2>
    <p>¿Sabías que las lutitas rojas del Triásico, una roca sedimentaria formada hace más de 200 millones de años, se pueden usar para hacer pinturas?</p>
    <p>Estas rocas tienen su color rojo gracias a los óxidos de hierro, que se formaron en ambientes antiguos con poca agua y mucho sol, como desiertos o valles secos.</p>
    <p>Además de ser útiles para entender cómo era la Tierra en tiempos de los dinosaurios, ¡sus pigmentos naturales han sido utilizados desde la antigüedad para crear arte!</p>
</div>
    <button (click)="volver()" class="btnA">Ok</button>

</div>