<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Primera pregunta</h4>
        <p>Tenemos un cartel con información sobre las rocas que hay delante.</p>
        <p>Puede que algún dato nos sirba de ayuda.</p>
        <h5>¿En cuantas zonas de rocas se puede separar la montaña que tienes delante?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Todo junto" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Todo junto', 'incorrecta': respuestaIncorrecta && seleccion === 'Todo junto' && comprobarPressed}">Todo es lo mismo</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Dos" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Dos', 'incorrecta': respuestaIncorrecta && seleccion === 'Dos' && comprobarPressed}">Dos partes</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Tres" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Tres', 'incorrecta': respuestaIncorrecta && seleccion === 'Tres' && comprobarPressed}">Dos partes y un estrato amarillento en medio</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
<!--         <button (click)="goToZona4()" class="btnA">Zona 4</button>
 -->        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>
    </div>
</div>