<div id="cont" class="container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <h4>Primera pregunta</h4>
    <h5>¿Pregunta x indeterminada?</h5>
    <div class="respuestas">
        <div class="opcion">
            <input type="radio" id="opcion1" name="pregunta1" value="Respuesta1" [disabled]="respuestaCorrectaZ4"
                (change)="onOptionChange($event)">
            <label for="opcion1"
                [ngClass]="{'correcta': respuestaCorrectaZ4 && seleccionZ4 === 'Respuesta1', 'incorrecta': respuestaIncorrectaZ4 && seleccionZ4 === 'Respuesta1' && comprobarPressedZ4}">Respuesta1</label>
        </div>
        <div class="opcion">
            <input type="radio" id="opcion3" name="pregunta1" value="Respuesta2" [disabled]="respuestaCorrectaZ4"
                (change)="onOptionChange($event);">
            <label for="opcion3"
                [ngClass]="{'correcta': respuestaCorrectaZ4 && seleccionZ4 === 'Respuesta2', 'incorrecta': respuestaIncorrectaZ4 && seleccionZ4 === 'Respuesta2' && comprobarPressedZ4}">Respuesta2</label>
        </div>
        <div class="opcion">
            <input type="radio" id="opcion2" name="pregunta1" value="Respuesta3" [disabled]="respuestaCorrectaZ4"
                (change)="onOptionChange($event);">
            <label for="opcion2"
                [ngClass]="{'correcta': respuestaCorrectaZ4 && seleccionZ4 === 'Respuesta3', 'incorrecta': respuestaIncorrectaZ4 && seleccionZ4 === 'Respuesta3' && comprobarPressedZ4}">Respuesta3</label>
        </div>
    </div>
    <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrectaZ4">Comprobar</button>
    <button (click)="goToZona4()" class="btnA">Zona 4</button>
</div>