<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">
        <h4>Segunda pregunta</h4>
        <p>Vamos a intentar ordenar lo que vemos en el tiempo.</p>
        <p>Puede que nos ayude a descubrir la causa de la brecha.</p>
        <h5>¿Qué se ha formado primero?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="La falla" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'La falla', 'incorrecta': respuestaIncorrecta && seleccion === 'La falla' && comprobarPressed}">La falla</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Los estratos" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Los estratos', 'incorrecta': respuestaIncorrecta && seleccion === 'Los estratos' && comprobarPressed}">Los estratos</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Los pliegues" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Los pliegues', 'incorrecta': respuestaIncorrecta && seleccion === 'Los pliegues' && comprobarPressed}">Los pliegues</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>
    </div>
</div>