<div id="cont" class="container index animate__animated animate__fadeIn">

    <h2>Zona 4</h2>
    <h1>K Pg</h1>
    <app-zona4-marcadores></app-zona4-marcadores>
    <div class="margen">
        <p>Necesitamos 7 símbolos para conseguir cerrar el portal o la brecha del espacio-tiempo.</p>
        <p>En esta zona investigaremos sobre un suceso que cambió el mundo tan radicalmente, que puede que la energía que se libreró tenga relación con nuestra misión.</p>
        <img class="mapa-img" src="images/mapas/zona4.png" alt="Mapa zonas">

    </div>
</div>