.centre {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mapa-img{
    width: 100%;
}