<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Segunda pregunta</h4>
        <p>Miremos ahora a ver qué pasa con ese estrato amarillento...</p>
        <h5>Cuántos millones de años tiene ese estrato?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="66 Ma" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === '66 Ma', 'incorrecta': respuestaIncorrecta && seleccion === '66 Ma' && comprobarPressed}">66 Millones de años</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="47,5 Ma" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === '47,5 Ma', 'incorrecta': respuestaIncorrecta && seleccion === '47,5 Ma' && comprobarPressed}">47,5 Millones de años</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="68 Ma" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === '68 Ma', 'incorrecta': respuestaIncorrecta && seleccion === '68 Ma' && comprobarPressed}">68 Millones de años</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>
    </div>
</div>