<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">

        <h2>Explicación</h2>
        <p>Primero, se forman las capas de la lasaña, ¿verdad?. Bueno, lo mismo pasa con la Tierra: primero se forman los <b>estratos</b>, que son como las capas de rocas que se acumulan con el tiempo, una encima de otra, durante millones de años.</p>
        <p>Luego, imagina que alguien empuja los extremos de la lasaña… ¡se forman arrugas! Así es como se crean los pliegues en las rocas. Esto ocurrió durante la <b>orogenia alpina</b>, una etapa en la que grandes fuerzas empujaron la <b>corteza terrestre</b>, formando montañas y doblando los estratos como si fueran pliegues en una sábana.</p>
        <p>Finalmente, después de toda esta presión, ¡la lasaña se rompe! Pues algo así pasa en la Tierra: cuando las fuerzas son demasiado grandes o cambian de dirección, se producen <b>fallas</b>, que son grandes grietas en la corteza terrestre.</p>
        <p>Así que, en orden, primero vienen los <b>estratos</b> (las capas de la lasaña), luego los <b>pliegues</b> (las arrugas al empujar), y al final, la <b>falla</b> (la grieta que aparece cuando se rompe).</p>

        <button (click)="volver()" class="btnA">Ok</button>
    </div>
</div>