<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margenP">

        <h2>Explicación</h2>

        <p>¡Has acertado! Esas <i>partículas</i> negras en la arena son <b><b>hierro</b></b>, y no es un <b>hierro</b> cualquiera... ¡son restos del antiguo patrimonio industrial de Bilbao!</p>

        <p>Hace mucho tiempo, en los alrededores de Bilbao, la industria de la minería y los altos hornos era muy activa. Extraían <b>hierro</b> de las montañas y lo fundían en grandes hornos para construir muchas cosas, desde barcos hasta edificios. Con el tiempo, pequeñas partículas de este <b>hierro</b> llegaron hasta la arena de la playa.</p>

        <p>Así que, aunque hoy la playa parezca un lugar tranquilo, está llena de historia. Si tienes un imán, puedes notar cómo estas pequeñas partículas de <b>hierro</b> se sienten atraídas, como si quisieran volver a su hogar en las antiguas minas de Bilbao.</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
