<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h2>Explicación</h2>
        <p>¡Has acertado! La palabra clave es <b>Alirón</b>, y está profundamente vinculada con la historia minera de Bizkaia y el Athletic Club.</p>
        <p>El origen de la palabra "Alirón" se remonta a finales del siglo XIX en las minas de hierro de Triano, cerca de Ortuella. Los mineros ingleses, al encontrar una veta de hierro puro, colgaban un cartel con las palabras "All Iron", que significa "Todo Hierro". Esto era motivo de celebración, ya que significaba una retribución extra para los trabajadores. Con el tiempo, los mineros vascos adaptaron esta expresión al grito de "Alirón".</p>
        <p>El término pasó a asociarse con el fútbol, especialmente con el Athletic Club, cuando el estribillo "¡Alirón, alirón, el Athletic es campeón!" se popularizó gracias a una canción que fue un éxito a principios del siglo XX.</p>
    </div>
    <button (click)="volver()" class="btnA">Ok</button>
</div>
