<div id="cont" class="container index animate__animated animate__fadeIn">
  <!--   <app-nav-zonas></app-nav-zonas> -->
  <h2>Zona 1</h2>
  <h1>El Peñón</h1>
  <app-zona1-marcadores></app-zona1-marcadores>

  <div class="margen">
    <p>En esta zona tendremos que descubrir el <i>elemento más antiguo</i> de la playa.</p>
    <p>Esto nos dará pistas sobre el rango temporal de la <i>criatura</i> que abrió la brecha en el espacio-tiempo</p>
    <p>Viajaremos en el tiempo desde la época más antigua hasta hoy en día.</p>
    <p>¡Vamos allá!</p>  
    <img class="mapa-img" src="images/mapas/zona1.png" alt="Mapa zonas">

  </div>
</div>