<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--   <app-back-component></app-back-component>
 -->  <app-nav-zonas></app-nav-zonas>
  <h2>Zona 1</h2>
  <h1>El Peñón</h1>
  <app-zona1-marcadores></app-zona1-marcadores>
  <p>En esta zona tendremos que descubrir lo más antiguo de la playa.</p>
  <p>Esto nos dará pistas sobre el rango de edad de la criatura que abrió la brecha en el espacio tiempo</p>
  <p>Viajaremos en el tiempo desde la época más antigua hasta hoy en día.</p>
  <p>¡Vamos allá!</p>
</div>
  