<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Vamos a descubrir los secretos de los fósiles! Los <b>fósiles</b> con partes duras son como encontrar piezas de un rompecabezas antiguo. Estos pueden ser <i>huesos</i>, <i>dientes</i> o <i>conchas</i> de animales que vivieron hace millones de años. ¡Es como encontrar un trozo de una gran historia del pasado!</p>
        
        <p>Pero no todos los <b>fósiles</b> tienen partes duras. Algunos son <b>icnofósiles</b>, que son marcas o huellas dejadas por los animales, como si encontráramos sus huellas en la arena. Estos <b>fósiles</b> nos cuentan dónde estaban y qué estaban haciendo, ¡como leer un diario antiguo lleno de aventuras!</p>

        <p>Así que, ya sea que encuentres <i>huesos</i> o <i>huellas</i>, cada <b>fósil</b> tiene una historia única que nos ayuda a entender cómo era la vida en el pasado.</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>
