<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margenP">

        <h2>Explicación</h2>

        <p>¡Exacto! La respuesta correcta es <b>Drácula</b>. Aunque <b>Drácula</b> es conocido por ser un <i>vampiro</i>, en muchas historias, también se le asocia con la <i>magia oscura</i> y los <i>poderes sobrenaturales</i>. Los Montes Cárpatos, que atraviesan varios países de Europa del Este, incluyendo Rumania, son famosos por las leyendas de <i>brujería</i>, <i>criaturas mágicas</i> y, por supuesto, el <b>Conde Drácula</b>.</p>

        <p><b>Los Cárpatos</b> están llenos de bosques oscuros, cuevas misteriosas y nieblas que crean el ambiente perfecto para las historias de brujas y seres mágicos. Desde hace siglos, se dice que los habitantes de la región creen en seres <i>sobrenaturales</i> como brujas y fantasmas, que viven en los rincones más profundos de estas montañas.</p>

        <p>Así que la próxima vez que pienses en <b>Los Cárpatos</b>, ¡recuerda que no solo son montañas, sino también un lugar lleno de magia y misterio!</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>