<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Exacto! La respuesta correcta es **Drácula**. Aunque Drácula es conocido por ser un vampiro, en muchas historias, también se le asocia con la magia oscura y los poderes sobrenaturales. Los Montes Cárpatos, que atraviesan varios países de Europa del Este, incluyendo Rumania, son famosos por las leyendas de brujería, criaturas mágicas y, por supuesto, el Conde Drácula.</p>

        <p>Los Cárpatos están llenos de bosques oscuros, cuevas misteriosas y nieblas que crean el ambiente perfecto para las historias de brujas y seres mágicos. Desde hace siglos, se dice que los habitantes de la región creen en seres sobrenaturales como brujas y fantasmas, que viven en los rincones más profundos de estas montañas.</p>
      
        <p>Así que la próxima vez que pienses en los Cárpatos, ¡recuerda que no solo son montañas, sino también un lugar lleno de magia y misterio!</p>
          
    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>