<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->    
<div class="margen">

    <h2>Explicación</h2>
    <p>Estas rocas son las más antiguas de la playa.</p>
    <p>Se han metido entre rocas más jóvenes atravesándolas gracias a su plasticidad.</p>
    <p>Si aplastamos una magdalena llena de chocolate con la mano el chocolate sale hacia arriba.</p>
    <p>Esas arcillas rojas suben hacia arriba debido a la presión.</p>
    <p>También se le suele llamar material del <b>Trias</b> (del periodo Triásico).</p>
</div>
    <button (click)="volver()" class="btnA">Ok</button>

</div>
