<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->    
<div class="margen">

    <h2>Explicación</h2>
    <p>Estas rocas son las más antiguas de la playa.</p>
    <p>Se han metido entre rocas más jóvenes atravesandolas gracias a su plasticidad.</p>
    <p>Es como si aplastamos una madalena llena de chocolate con la mano y el chocolate sale hacia arriba.</p>
    <p>Esas arcillas rojas suben hacia arriba bajo la presión.</p>
    <p>También se le suele llamar material del Trias (Triásico).</p>
</div>
    <button (click)="volver()" class="btnA">Ok</button>

</div>
