<div id="cont" class="container index animate__animated animate__fadeIn">


    <h2>Zona 5</h2>
    <h1>La Cueva</h1>
    <app-zona5-marcadores></app-zona5-marcadores>
    <div class="margen">
        <p>Ahora ya sabemos qué hizo la bruja Paleo Sorgiña, pero no sabemos cómo cerrar la brecha que causó.</p>
        <p>Intentemos solucionarlo antes de que se acabe el tiempo y otra criatura atraviese el portal.</p>
        <p>Tenemos que encontrar la criatura que escapó y cerrar el portal lo antes posible.</p>
        <img class="mapa-img" src="images/mapas/zona5.png" alt="Mapa zonas">

    </div>
</div>
