<div id="cont" class="container index animate__animated animate__fadeIn">

    <h2>Zona 3</h2>
    <h1>Fosilandia</h1>
    <app-zona3-marcadores></app-zona3-marcadores>
    <div class="margen">
        <p>Ya tenemos algunas pistas para seguir con nuestra investigación.</p>
        <p>En Fosilandia seguro que podemos encontrar los restos de las criaturas que vivieron aquí en el pasado.</p>
        <p>Esta zona es más extensa, asique tendrás que moverte para encontrar algunos fósiles.</p>
    </div>
</div>
