<header>
    <nav>
        <ul>
            <li><a routerLink="zonas"><img class="icon" src="/images/icons/play.png" alt="Play"></a></li>
            <li><a routerLink="context"><img class="icon" src="/images/icons/map.png" alt="Map"></a></li>
            <li><a routerLink="contact"><img class="icon" src="/images/icons/contacto.png" alt="Contact"></a></li>
        </ul>
        <a href="https://www.geobizi.com"><img class="logoSuelto" src="/images/Hojitas.png" alt="Logo"></a> <!-- Corrección de la URL -->
    </nav>
</header>
