<header>
    <nav>
        <ul>
            <li><a routerLink="zonas"><img class="icon" src="/images/icons/play.png" alt="Play"></a></li>
            <li><a routerLink="context"><img class="icon" src="/images/icons/map.png" alt="Map"></a></li>
            <li><a routerLink="contact"><img class="icon" src="/images/icons/contacto.png" alt="Contact"></a></li>
            <li><a href="#" (click)="confirmReset($event)"><img class="icon" src="/images/icons/restart.png" alt="Restart"></a></li>
        </ul>
    </nav>
</header>
