<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--   <app-back-component></app-back-component>
 -->    <h4>Última pregunta de la zona</h4>
    <p>Sabemos la edad de las rocas, pero, y las que están a su lado?</p>
    <h5>¿Qué edad aproximada tienen las rocas que rodean esta zona (grises)?</h5>
    <div class="respuestas">
      <div class="opcion">
        <input type="radio" id="opcion3" name="pregunta1" value="54 Ma" [disabled]="respuestaCorrecta"
            (change)="onOptionChange($event);">
        <label for="opcion3"
            [ngClass]="{'correcta': respuestaCorrecta && seleccion === '54 Ma', 'incorrecta': respuestaIncorrecta && seleccion === '54 Ma' && comprobarPressed}">54
            Ma</label>
    </div>
    <div class="opcion">
      <input type="radio" id="opcion1" name="pregunta1" value="Más de 200 Ma"
          [disabled]="respuestaCorrecta" (change)="onOptionChange($event)">
      <label for="opcion1"
          [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Más de 200 Ma', 'incorrecta': respuestaIncorrecta && seleccion === 'Más de 200 Ma' && comprobarPressed}">Más
          de 200 Ma</label>
    </div>
    <div class="opcion">
        <input type="radio" id="opcion2" name="pregunta1" value="Unos 70 Ma"
            [disabled]="respuestaCorrecta" (change)="onOptionChange($event);">
        <label for="opcion2"
            [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Unos 70 Ma', 'incorrecta': respuestaIncorrecta && seleccion === 'Unos 70 Ma' && comprobarPressed}">Unos
            70 Ma</label>
    </div>
</div>
    <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
<!--     <button (click)="goToZona1()" class="btnA" >Zona 1</button>
 -->    <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>

  </div>
  