<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>Misión 9</h1>
    <p>Investiguemos ahora la Zona de la Cueva</p>
    <p>La primera pista de esta zona la puedes encontrar al principio</p>
    <p>Busca unas rocas que sobresalen con unas huellas fósiles.</p>
    <p>Son huellas de erizos de mar. A lo mejor ya lo has visto.</p>
    <p>MAPA O FOTO</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>