<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>


        <p>Cuando el meteorito chocó contra la Tierra con una fuerza increíble, ¡el calor y la presión fueron tan intensos que fundieron las rocas! Estos fragmentos de rocas derretidas salieron disparados como pequeños proyectiles y al enfriarse rápidamente, formaron las <b>tectitas</b>.</p>
        <p>Parece que la bruja Paleo Sorgiña ha intentado atrapar el poder del meteorito dentro de algunas de esas <b>tectitas</b>. ¿Pero cómo lo hizo?</p>

        <p>Así que, si alguna prueba del poder del impacto quedó en la Tierra, ¡fueron estas curiosas bolitas de vidrio natural! Las <b>tectitas</b> no solo son testigos del gran impacto, sino que podrían haber sido la clave para que la bruja conserbara el poder de toda esa energía del meteorito.</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
