<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Imagina que estás en una gran aventura submarina! El <b>Mosasaurus</b> era un gigantesco <i>reptil marino</i> que vivió hace millones de años. Con su gran tamaño y habilidades de nadador, este increíble animal tenía más posibilidades de nadar hacia el presente si se colara por una brecha en el tiempo.</p>

        <p>Los otros animales que mencionamos también son fascinantes, pero vivían en épocas diferentes y en ambientes distintos. El <b>Tyrannosaurus rex</b> era un temible dinosaurio terrestre, ¡y la <b>Trilobites</b> era un pequeño <i>artrópodo</i> marino que se <b>extinguió</b> hace mucho tiempo!</p>

        <p>Así que, si un animal antiguo se colara en nuestro tiempo, el <b>Mosasaurus</b> sería el más probable en hacerlo, ¡con su tamaño y habilidades acuáticas impresionantes!</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>
