<div id="cont" class="container index animate__animated animate__fadeIn">
    <h1>Empecemos</h1>
    <h2>El punto de inicio será:</h2>
    <p>Junto a la escuela de Surf de Gorka Yarritu</p>
    <p>Disfruta de las vistas que ofrece el mirador que tienes delante</p>
    <!-- Mapa de Google -->
<!--     <div id="map" class="map-container">
      <google-map
        [height]="'400px'"
        [width]="'100%'"
        [center]="center"
        [zoom]="zoom">
      </google-map>
    </div> -->
    <h4>Primera pregunta</h4>

    <h5>¿En qué playa te encuentras ahora mismo?</h5>
    <div class="respuestas">
      <div class="opcion">
        <input type="radio" id="opcion1" name="pregunta1" value="Atxabiribil">
        <label for="opcion1"> Atxabiribil </label>
      </div>
      <div class="opcion">
        <input type="radio" id="opcion2" name="pregunta1" value="Arrietara">
        <label for="opcion2"> Arrietara </label>
      </div>
      <div class="opcion">
        <input type="radio" id="opcion3" name="pregunta1" value="Larrabasterra">
        <label for="opcion3"> Larrabasterra </label>
      </div>
    </div>
    
    <button (click)="comprobar()" class="btnA">Comprobar</button>
    <!-- Símbolo de lupa -->
    <img *ngIf="mostrarLupa" class="lupa animate__animated animate__bounceInDown" src="images/iconos/lupa.svg" alt="Lupa-pista" (click)="mostrarPista()">

    <svg *ngIf="respuestaCorrecta" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
      <path class="checkmark__check" fill="none" d="M14 27l7 7 16-16"/>
    </svg>
    <svg *ngIf="respuestaIncorrecta" class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none"/>
      <path class="crossmark__cross" fill="none" d="M16 16l20 20m0-20L16 36"/>
    </svg>

    <img class="logo" src="images/Geobizi.png" alt="Geobizi">
  </div>
  