.respuestas {
    display: flex;
    flex-direction: column;
}

.opcion {
    display: flex;
    flex-direction: row;
}

label {
    font-size: 2rem;
    margin: 1rem;
}

.map-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.checkmark,
.crossmark {
    width: 52px;
    height: 52px;
    margin: 20px auto;
}

.checkmark__circle,
.crossmark__circle {
    stroke: #4caf50;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check,
.crossmark__cross {
    transform-origin: 50% 50%;
    stroke: #4caf50;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark__cross {
    stroke: #f44336;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

.lupa {
    width: 40px;
    height: 40px;
    position: absolute;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}