<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>La <b>orogenia Alpina</b> fue un gran evento <i>geológico</i> que ocurrió hace entre 37 y 24 millones de años. Durante este tiempo, enormes fuerzas de la Tierra empujaron y levantaron el suelo, ¡formando montañas y pliegues en las rocas!</p>
    
        <p>Imagina que estás empujando ambos extremos de un acordeón: se forman pliegues y montículos en el centro, ¿verdad? Eso es lo que sucedió con las rocas de la Tierra.</p>
    
        <p>¡Pero aquí viene lo interesante! Esta misma fuerza que formó los pliegues en la playa también levantó montañas en otras partes del mundo.</p>
    
        <p>Por ejemplo, <b>los Cárpatos</b> en Europa se formaron al mismo tiempo que estos pliegues.</p>
    
        <p>Otras montañas, como <b>los Urales</b> o <b>los Andes</b>, se formaron en diferentes momentos y por distintas razones.</p>
    
        <p>Así que, la próxima vez que mires un mapa y veas montañas, piensa en cómo la Tierra se "<i>dobló</i>" como un acordeón gigante para crear esas formaciones increíbles.</p>
    
    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>