
<!-- Contenedor principal de contenido -->
<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <p>Tienes que buscar el símbolo de Geobizi en una cartulina o similar por la zona en la que estás investigando.</p>
    <p>Puede que se haya caido al suelo.</p>

    <p>Si no lo encuentras puedes pedirnos ayuda por WhatsApp.</p>
    <p>Mándanos un mensage con la zona y el número de la misión para facilitarte la clave.</p>

    <button class="btnA" (click)="volverIntentar()">Intentarlo</button>
    <button class="btnA" (click)="siguiente()">Zona 3</button>
</div>
