<div id="cont" class="container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
<h1>Zonas</h1>
<div class="card">
    <img src="images/fotos/el-penion.png" alt="">
    <h3>El Peñón</h3>
    <button class="btnA" (click)="goToZona1()">Zona 1</button>
</div>

<div class="card">
    <img src="images/fotos/el-penion.png" alt="">
    <h3>La Falla</h3>
    <button class="btnA" (click)="goToZona2()">Zona 2</button>
</div>

<div class="card">
    <img src="images/fotos/el-penion.png" alt="">
    <h3>Fosilandia</h3>
    <button class="btnA" (click)="goToZona3()">Zona 3</button>
</div>

<div class="card">
    <img src="images/fotos/el-penion.png" alt="">
    <h3>K Pg</h3>
    <button class="btnA" (click)="goToZona4()">Zona 4</button>
</div>

<div class="card">
    <img src="images/fotos/el-penion.png" alt="">
    <h3>La cueva</h3>
    <button class="btnA" (click)="goToZona5()">Zona 5</button>
</div>






</div>