.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--veryligthgreen);
    border: solid var(--ligthgreen);
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    padding: 1.7rem;
    margin: 1.5rem 3rem;
    box-shadow: 15px 15px 38px -13px rgba(0,0,0,0.75);
}

img {
    width: 100%;
    box-shadow: 0px 0px 20px 1px var(--linkgreen);
}