<header>
  <nav>
    <div class="iconZ1">
      <button (click)="toggleMobileNavZ1()">
        <img [class.iconZ1-active]="mobileNavOpenZ1" src="images/mariposita.png" class="mariposita" alt="Menu">
      </button>
    </div>
    <ul [ngClass]="{'dropdown-navZ1': true, 'open': mobileNavOpenZ1, 'close': !mobileNavOpenZ1}">
      <li><a routerLink="./pregunta1" (click)="closeMobileNavZ1()">Pregunta 1</a></li>
      <li><a routerLink="./pregunta2" (click)="closeMobileNavZ1()">Pregunta 2</a></li>
      <li><a routerLink="./pregunta3" (click)="closeMobileNavZ1()">Pregunta 3</a></li>
      <li><a routerLink="./pregunta4" (click)="closeMobileNavZ1()">Pregunta 4</a></li>
      <li><a routerLink="./pregunta5" (click)="closeMobileNavZ1()">Pregunta 5</a></li>
      <li><a routerLink="./actividad" (click)="closeMobileNavZ1()">Actividad</a></li>
    </ul>
  </nav>
</header>
