<div id="cont" class="container index animate__animated animate__fadeIn">

    <h2>Zona 2</h2>
    <h1>La Falla</h1>
    <app-zona2-marcadores></app-zona2-marcadores>
    <div class="margen">
        <p>En esta zona ha quedado marcada la brecha en la propia roca.</p>
        <p>Es la separación entre la puesta al pasado y los animales que dejaron su marca en Sopela.</p>
        <p>Aquí necesitamos descubrir qué es lo que ha pasado en el pasado para ver cómo afecta al futuro.</p>
        <img class="mapa-img" src="images/mapas/zona2.png" alt="Mapa zonas">

    </div>
</div>
    