<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Siguiente pregunta</h4>
        <p>El Flysch, es una formación rocosa que se va formando bajo el agua durante millones de años.</p>
        <p>Si algún animal de esta zona se colase por la brecha hacia el presente...</p>
        <h5>¿Cuál de estos animales tiene más posibilidades de colarse hacia el presente?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Mosasaurus" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Mosasaurus', 'incorrecta': respuestaIncorrecta && seleccion === 'Mosasaurus' && comprobarPressed}">Mosasaurio</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Tyrannosaurus rex" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Tyrannosaurus rex', 'incorrecta': respuestaIncorrecta && seleccion === 'Tyrannosaurus rex' && comprobarPressed}">Tiranosaurus</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Trilobita" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Trilobita', 'incorrecta': respuestaIncorrecta && seleccion === 'Trilobita' && comprobarPressed}">Trilobite</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>
    </div>
</div>