<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <p>Tenemos que buscar alguna pista sobre el portal y cómo cerrarlo.</p>
    <p>Busca por la zona algún símbolo o algo extraño que nos dé alguna pista sobre esto.</p>
    <p>Tal vez el logo de Geobizi te ayude...</p>
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">
    <p>¿Has conseguido alguna pista?</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>