<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
-->    
<div class="margen">

    <h2>Explicación</h2>
    <p>La formación que vemos es parte del <b>Flysch de Bizkaia</b>, que está formado por una secuencia de rocas que se repite cíclicamente.</p>
    <p>Está formado por capas de calizas y margas abarcando desde Getxo hasta Bakio.</p>
    <p>¿Porqué se da esa secuencia repetida durante millones de años?</p>
    <p>La causa son los movimientos de la Tierra respecto al Sol.</p>
    <p>El eje del Planeta se mueve como una peonza mareada y es la razón de cambios climáticos repetidos en el tiempo.</p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>
