<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <p>Si nos fijamos bien, podemos ver una zona de colores rojizos a la derecha y otra de colores más morados a la izquierda.</p>
        <p>Hay un estrato estrecho que separa estas dos partes que tiene un color más amarillento.</p>
        <p>Dependiendo de la luz del día, puede que los colores se vean distintos.</p>
        <p>Prueba a fijarte en un día lluvioso y otro soleado en alguna roca natural de tu entorno para ver la diferencia.</p>
    </div>
    <button (click)="volver()" class="btnA">Ok</button>
</div>