<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Eureka! ¡Hemos descubierto el secreto de la bruja Paleo Sorgiña! Para poder capturar el poder del meteorito en las <b>tectitas</b>, ¡necesitaba algo realmente especial: el <b>iridio</b>!</p>

        <p>El <b>iridio</b> es un elemento muy raro en la Tierra, pero ¿adivina qué? ¡Es mucho más común en los meteoritos!</p> 
        <p>Cuando un meteorito gigante, como el que provocó la extinción de los dinosaurios, choca contra la Tierra, deja trazas de <b>iridio</b> en los estratos rocosos.</p>

        <p>Así que, si alguna vez encuentras <b>iridio</b> en una capa de la Tierra, ¡es una pista de que un meteorito poderoso estuvo allí!</p> 
        <p>Es posible que la bruja usara este raro elemento para concentrar toda la energía del impacto. ¡Qué truco más astuto!</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
