<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Más de cinco! Así es, la playa es un verdadero tesoro lleno de historias fósiles esperando ser contadas. Hay tantas especies diferentes que podríamos encontrar: desde ammonites y inocerámidos hasta equinodermos, algas, chondrites, dientes de peces... ¡Incluso algunos fósiles de criaturas que nunca has oído mencionar!</p>

        <p>Los fósiles en esta playa no son solo restos de animales, sino también huellas, marcas, y otros rastros de vida del pasado. ¡Es como un libro enorme de historia prehistórica, con páginas llenas de aventuras increíbles!</p>

        <p>Así que la próxima vez que estés en la playa, mira bien a tu alrededor... podrías estar parado sobre millones de años de historia, esperando a ser descubiertos.</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
