<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Primera pregunta</h4>
        <p>Intenta encontrar uno y sacarle una foto.</p>
        <h5>¿Cuál de estos fósiles es un ammonite?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Ammonite" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Ammonite', 'incorrecta': respuestaIncorrecta && seleccion === 'Ammonite' && comprobarPressed}">
                    <img src="images/fosiles/18.png" alt="Ammonite" width="100" height="100">
                </label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Innocerámido" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Innocerámido', 'incorrecta': respuestaIncorrecta && seleccion === 'Innocerámido' && comprobarPressed}">
                    <img src="images/fosiles/15.png" alt="Innocerámido" width="100" height="100">
                </label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Coprolito" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Coprolito', 'incorrecta': respuestaIncorrecta && seleccion === 'Coprolito' && comprobarPressed}">
                    <img src="images/fosiles/30.png" alt="Coprolito" width="100" height="100">
                </label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA">Explicación</button>
    </div>
</div>