.portal-image {
    max-width: 15rem;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-simbolos {
    font-size: 1.5rem;
    margin: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease; /* Animación suave para los botones */
}

/* Botón seleccionado con un borde negro */
.selected {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(87, 87, 87, 0.66);
    border-radius: 50%;
}

/* Animación de fade-in */
.animate__animated.animate__fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.button-image{
    width: 7rem;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.66));
}
/* Asegura que el contenedor de las imágenes esté centrado en la pantalla */


/* Configuración de las imágenes */
.portal-image {
    max-width: 15rem;
    opacity: 0;
}

.img-centro {
    z-index: 1;
    animation: fadeInRotate 2s ease-in-out forwards; 
}

.img-borde {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    animation: fadeInOpacity 0.7s ease-in-out forwards; 
}

/* Animación combinada de rotación y opacidad */
@keyframes fadeInRotate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOpacity{
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
.divImgs {
    /* Reducido el margen superior */
    margin-top: 2rem; /* Ajusta según sea necesario */
    position: relative;
    top: 0; /* Alineado mejor al contenido */
    left: 50%;
    transform: translateX(-50%);
    width: 15rem; 
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



