<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
-->    
<div class="margen">

    <h2>Explicación</h2>
    <p>¡Imagina que las lutitas rojas del <b>Triásico</b> son como el “<i>pegamento”</i> de la Tierra! Estas arcillas, con su color rojo vibrante, no solo fueron testigos del tiempo de los <b>dinosaurios</b>, sino que también son súper útiles.</p>
    <p>Gracias a su textura muy fina y compacta, pueden bloquear el paso de agua y otros líquidos, ¡como si fueran una barrera invisible!</p>
    <p>Y aquí viene la parte divertida: cuando hay una grieta o falla en la tierra, estas arcillas rojas pueden rellenarla y “<i>sellarla</i>”, impidiendo que el agua, petróleo o gas se escapen.</p>
    <p>Es como si estas rocas le dijeran al lñiquido: <b>"¡No puedes pasar!"</b>.</p>
</div>
    <button (click)="volver()" class="btnA">Ok</button>

</div>