<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Vaya! Parece que hemos encontrado algo más que simples rocas en el camino hacia la cueva. ¡Son <b>huellas</b> fósiles! Pero no cualquier huella, sino unas muy especiales llamadas <b>icnitas</b> de tipo <b>Scolicia</b>.</p>

        <p>Estas huellas fueron dejadas por criaturas marinas muy antiguas, como los <b>erizos de mar</b>, también conocidos como <b>equinoides</b>. Imagina a estos pequeños seres moviéndose sobre la arena, dejando un rastro que ha quedado <i>fosilizado</i> durante millones de años.</p>

        <p>Así que, aunque no encontremos a la criatura en sí, estas <b>huellas</b> son una pista fascinante de cómo vivían y se movían hace mucho tiempo. ¡Es como si el tiempo nos hubiera dejado un mapa secreto de su pasado!</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
