<div id="cont" class="container index animate__animated animate__fadeIn">
    <div class="cont-marcadores">
        <div class="marcadores" routerLink="pregunta1" [ngClass]="{'current': isCurrentRoute('pregunta1'), 'green': isAnsweredCorrectly('/zona1/pregunta1')}"></div>
        <div class="marcadores" routerLink="pregunta2" [ngClass]="{'current': isCurrentRoute('pregunta2'), 'green': isAnsweredCorrectly('/zona1/pregunta2')}"></div>
        <div class="marcadores" routerLink="pregunta3" [ngClass]="{'current': isCurrentRoute('pregunta3'), 'green': isAnsweredCorrectly('/zona1/pregunta3')}"></div>
        <div class="marcadores" routerLink="pregunta4" [ngClass]="{'current': isCurrentRoute('pregunta4'), 'green': isAnsweredCorrectly('/zona1/pregunta4')}"></div>
        <div class="marcadores" routerLink="pregunta5" [ngClass]="{'current': isCurrentRoute('pregunta5'), 'green': isAnsweredCorrectly('/zona1/pregunta5')}"></div>
    </div>
</div>
