<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>Misión 5</h1>
    <p>Hay varias zonas más pequeñas dentro de la Zona 3.</p>
    <p>Ahora vamos a buscar en la segunda parte, pero un poco más adelante.</p>
    <p>Busca en una roca grande que sobresale del suelo donde encontrarás un equinodermo fósil.</p>
    <p>MAPA O FOTO</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>