<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>Misión 10</h1>
    <p>Investiguemos ahora la Zona de la Cueva</p>
    <p>Busquemos en las areniscas junto a la cueva.</p>
    <p>Ahí encontraremos el fósil de la criatura que escapó del pasado.</p>
    <p>MAPA O FOTO</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>