<div id="cont" class="container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <h1>Flysch Digital</h1>

    <h3>Nuestra aventura</h3>

    <p>Nos encontramos en un punto de inflexión en el espacio tiempo.</p>
    <p>Una criatura que se creía extinta ha reaparecido en la actualidad creando un portal al pasado.</p>
    <p>Tenemos que descubrir cual de todos los animales que vivian en esta zona es el responsable de esta brecha temporal en Sopela.</p>
    <p>Nuestra misión es encontrar esa criatura en el pasado y cerrar el portal antes de que más criaturas lleguen a la acualidad y creen un problema ecológico.</p>
    <p>¿Qué pasaría si los mosasaurios, terodáctilos o tiranosaurios aparecieran hoy en día entre nosotros?</p>

    <button class="btnA" (click)="goToPrueba1()">Empezar</button>

    <h3>Contexto técnico</h3>

    <p>Te encuentras en la costa de Bizkaia, más exactamente en las playas de Arrietara y Atxabiribil (Sopela). </p>
    <p>Las rocas que puedes ver a tu alrededor, forman parte del Flysch de Bizkaia, una formación rocosa que se puede observar por la costa de Bizkaia desde Getxo hasta Bakio. </p>
    <p>Es parte importante del patrimonio natural de nuestra tierra y que esconde interesantes secretos sobre su formación, rocas, fósiles, etc. </p>
    <p>Esta yincana está desarrollada para que disfrutes del entorno mientras aprendes y además, puedas llevarte un pequeño recuerdo si consigues terminarla antes del tiempo límite. </p>
    
    <p>¿Crees que podrás descubrir todos los secretos que tenemos reservados para tí?</p>

    <button class="btnA" (click)="goToInstructions()">Instrucciones</button>
    
    <button class="btnA" (click)="goToContact()">Contacto</button>

</div>