<div id="cont" class="container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <h1>Flysch Digital</h1>

    <h3>Contexto</h3>

    <p>Te encuentras en la costa de Bizkaia, más exactamente en las playas de Arrietara y Atxabiribil (Sopela). </p>
    <p>Las rocas que puedes ver a tu alrededor, forman parte del Flysch de Bizkaia, una formación rocosa que se puede observar por toda la costa de Bizkaia desde Getxo hasta Bakio. </p>
    <p>Es parte importante del patrimonio natural de nuestra tierra y que esconde interesantes secretos sobre su formación, rocas, fósiles, etc. </p>
    <p>Esta yincana está desarrollada para que disfrutes del entorno mientras aprendes y además, puedas llevarte un pequeño recuerdo si consigues terminarla antes del tiempo límite. </p>
    
    <h3>¿Crees que podrás descubrir todos los secretos que tenemos reservados para tí?</h3>
    
    <button class="btnA" (click)="goToPrueba1()">Empezar</button>

    <button class="btnA" (click)="goToInstructions()">Instrucciones</button>
    
    <button class="btnA" (click)="goToContact()">Contacto</button>

</div>