.cont-marcadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.marcadores {
    background-color: var(--white);
    border: solid var(--darkgreen);
    border-radius: 0.7rem;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    transform: scale(1);
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem; 
    line-height: 1; 
}

.marcadores.animate {
    transform: scale(1.2);
}

.green {
    background-color: var(--ligthgreen);
    color: var(--white);
    font-weight: bolder;
}


.portal-imagen  {
    width: 15rem;
}
