<div class="container index">
    <h1 class="animate__animated animate__fadeIn">Flysch Digital</h1>
    <h3 class="animate__animated animate__fadeIn">Disfrutarás de una experiencia de contacto con la naturaleza y digital mientras aprendes sobre este maravilloso entorno.</h3>
    <h3 class="animate__animated animate__fadeIn">¿Crees que podrás descubrir todos los secretos que tenemos reservados para tí?</h3>
    <button class="btnA animate__animated animate__fadeIn" (click)="goToPrueba1()">Empezar</button>
    <button class="btnA animate__animated animate__fadeIn" (click)="goToContext()">Cuéntame más</button>
</div>
