<div id="cont" class="container index animate__animated animate__fadeIn">

    <h1>Flysch Digital</h1>

    <h4>Disfrutarás de una experiencia de contacto con la naturaleza y digital mientras aprendes sobre este maravilloso entorno.</h4>
    
    <h4>¿Crees que podrás descubrir todos los secretos que tenemos reservados para tí?</h4>
    
    <button class="btnA" (click)="goToZonas()">Empezar</button>
    
    <button class="btnA" (click)="goToContext()">Contexto</button>

    <button class="btnA" (click)="goToInstructions()">Instrucciones</button>

</div>
