<div id="cont" class="container index animate__animated animate__fadeIn">

    <h1>Flysch Digital</h1>
    <div class="margenP">
    <h2>El portal del tiempo</h2>

    <p>Nos encontramos en un punto de inflexión en el espacio-tiempo.</p>
    <p>Una criatura que se creía extinta ha reaparecido en la actualidad atravesando una brecha en el espacio-tiempo.</p>
    <p>Tenemos que descubrir qué ha pasado para que aparezca ese portal temporal y arreglarlo.</p>
    <p>Nuestra misión es encontrar las huellas de ese ser en el pasado y cerrar el portal, antes de que más criaturas lleguen a la acualidad y creen un problema ecológico.</p>
    <p>¿Qué pasaría si los mosasaurios, pterodáctilos o tiranosaurios aparecieran hoy en día entre nosotros?</p>

</div>
    <button class="btnA" (click)="goToZonas()">Empezar</button>

    <button class="btnA" (click)="goToInstructions()">Instrucciones</button>

    <button class="btnA" (click)="goToContact()">Contacto</button>
    
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">

</div>
