<div id="cont" class="container index animate__animated animate__fadeIn">
    <h1>Suigiente prueba</h1>
    <h2>El punto de inicio será: </h2>
    <p>XXX</p>
    <!-- mapa o link para el mapa -->
    <h4>Pregunta</h4>
    <!-- aquí irian las posibles respuestas tipo radio -->
    <button class="btnA">Comprobar</button>

    <!-- quiero incluir un simbolo de bombilla o lupa que cuando fallen la primera vez aparezca y se mueva para dar una pista que ayude a resolver la pregunta -->
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">
</div>