<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Pista</h4>
        <p>En estado puro se utiliza en la fabricación de filamentos para lámparas eléctricas, resistencias para hornos eléctricos, contactos eléctricos para los distribuidores de automóviles, también en proyectiles flecha, y cátodos para tubos de rayos X y de televisión.</p>
        <p>Tiene usos importantes en aleaciones para herramientas de corte a elevada velocidad.</p>
        <p>Es más común que los otros.</p>
        <button class="btnA" (click)="volver()">OK</button>
    </div>
</div>