<div id="cont" class="container index animate__animated animate__fadeIn">
    
    <h1>Flysch Digital</h1>

    <h3>Contacto</h3>


    <div class="contacto">

        <img class="logo-contacto" src="images/icons/instagram.png" alt="Instagram">
        <img class="logo-contacto" src="images/icons/facebook.png" alt="Facebook">
        <img class="logo-contacto" src="images/icons/telephone.png" alt="Teléfono">
        <img class="logo-contacto" src="images/icons/mail.png" alt="Mail">
        <img class="logo-contacto" src="images/icons/youtube.png" alt="Youtube">

    </div>
</div>
