<div id="cont" class="container index animate__animated animate__fadeIn">
    <app-back-component></app-back-component>
    <h1>Contacto</h1>

    <p>Elige la forma que más te guste para contactar</p>

    <div class="contacto">
        <a href="https://www.instagram.com/geotxiki/" target="_blank">
            <img class="logo-contacto" src="images/icons/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/geobizirik/" target="_blank">
            <img class="logo-contacto" src="images/icons/facebook.png" alt="Facebook">
        </a>
        <a href="tel:+34677170921">
            <img class="logo-contacto" src="images/icons/telephone.png" alt="Teléfono">
        </a>
        <a href="mailto:geobizi@hotmail.com" target="_blank">
            <img class="logo-contacto" src="images/icons/mail.png" alt="Mail">
        </a>
        <a href="https://www.youtube.com/@geobizi" target="_blank">
            <img class="logo-contacto" src="images/icons/youtube.png" alt="Youtube">
        </a>
        <a href="https://www.geobizi.com" target="_blank">
            <img class="logo-contacto" src="images/icons/web.png" alt="Web">
        </a>
    </div>

    <button class="btnA" (click)="goToHome()">Inicio</button>

    <img class="logo" src="images/Geobizi.png" alt="Geobizi">

</div>
