<div id="cont" class="centre container index animate__animated animate__fadeIn">

<h1>La zona del Peñón</h1>
<h2>Pistas recopiladas</h2>
<p>Ha conseguido la primera clave:</p>
<p><b>Bibidi Babidi Bu</b></p>
<h2>Información</h2>
<p>La bruja <b>Paleo Sorgiña</b> ha utilizado un hechizo para abrir el portal y llegar a su destino.</p>
<p>Ahora podemos atravesar el portal y buscar el resto de las pistas para cerrar el portal.</p>
<p>Necesitaremos encontrar más claves para poder arreglar este embrollo.</p>

</div>