<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>Misión 3</h1>
    <p>Hay varias zonas más pequeñas dentro de la Zona 3.</p>
    <p>Vamos a buscar en la primera parte.</p>
    <p>Busca cerca del Zoophycus que domina la pared.</p>
    <img class="mapa-img" src="images/fosiles/25.png" alt="Mapa zonas">
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>
