<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Últmia pregunta</h4>
        <p>Para poder atrapar el poder del meteorito en las tectitas es necesario un elemento poco común.</p>
        <p>Puede que el propio meteorito lo tragera consigo.</p>
        <h5>¿Qué elemento poco común en la Tierra se asocia con los meteoritos?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Astato" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Astato', 'incorrecta': respuestaIncorrecta && seleccion === 'Astato' && comprobarPressed}">Astato</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Wolframio" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Wolframio', 'incorrecta': respuestaIncorrecta && seleccion === 'Wolframio' && comprobarPressed}">Wolframio</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Iridio" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Iridio', 'incorrecta': respuestaIncorrecta && seleccion === 'Iridio' && comprobarPressed}">Iridio</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Comprobar</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Explicación</button>
    </div>
</div>