<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Explicación</h2>

        <p>¡Los ammonites eran los aventureros de los océanos prehistóricos! Imagina un caracol gigante con una concha en forma de espiral perfecta, como una pizza enrollada. Estos increíbles moluscos marinos vivieron hace millones de años, cuando los dinosaurios dominaban la Tierra.</p>
        <p>Los ammonites se movían por los mares cazando pequeños peces y otros animalitos marinos. Su concha tenía varias cámaras, como si fuera un submarino, ¡y les ayudaba a flotar y nadar mejor!</p>
        <p>Cuando los científicos encuentran fósiles de ammonites, es como descubrir pistas del pasado, ayudándonos a saber qué estaba pasando en la Tierra hace millones de años.</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>