<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h1>Eureka</h1>
        <h2>Hemos recopilado todas las pistas</h2>
        <p>Ahora solo tenemos que cerrar el portal.</p>
        <p>Tendremos que colocar los símbolos en el orden correcto para poder deshacer el enredo que ha causado la bruja <b>Paleo Sorgiña</b>.</p>
        <p>¿Cuá será el orden correcto?</p>
        <p>¡Ánimo!</p>
        <div class="centre">
            <img class="imgBtn" src="images/iconos/flechaAbajo.png" alt="pincha abajo">
            <button class="btnB" (click)="portal()"><img class="imgBtn portal-imagen " src="images/simbolos/1.png" alt="hecho"></button>

        </div>
    </div>
</div>