/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --darkgrey: #333333;
    --veryligthgreen: #d3ffd6;
    --ligthgreen: #26B12C;
    --green: #498536;
    --darkgreen: #2c770f;
    --linkgreen: #2b3d23;
}

.logo {
    max-width: 22.5rem;
}

.hojitas, .mariposita {
    max-width: 10rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 1.5rem;
    font-size: 2.7rem;
    color: var(--darkgreen);
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    margin: 1.5rem;
    font-size: 2.3rem;
    color: var(--green);
    display: flex;
    justify-content: center;
    text-align: center;

}

h3 {
    margin: 1rem;
    font-size: 2rem;
}

h4 {
    margin: 1rem;
    font-size: 1.5rem;
}


h5 {
    margin: 1rem;
    font-size: 1.4rem;
}


h6 {
    margin: 1rem;
    font-size: 1.2;
}

p {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

img {
    border-radius: 0.7rem;
}

.imgBtn{
    width: 5rem;
    filter: drop-shadow(4px 2px 5px rgba(0,0,0,0.66));

}

.btnA {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    background-color: var(--darkgreen);
    color: var(--white);
    cursor: pointer;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.66);
}

.btnB {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    border: none;
}

.btnsHorizontal {
    display: flex;
    flex-direction: row;
}

.container {
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 3rem;
/*     padding: 2rem; */
}

.margen {
    margin: 3rem;
}

.centre {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.index {
    text-align: center;
}

.input-repuestas {
    margin: 1rem;
}

/* .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; 
    background-repeat: no-repeat;
} */

/* Media query para pantallas grandes */
@media (min-width: 769px) {
/*     .background-container {
        display: none;
    } */

    body::before {
        content: "Esta aplicación solo está disponible en dispositivos móviles en vertical.";
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background-color: rgba(0, 0, 0);
        color: white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        z-index: 1000000000;
    }
}