<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>Misión 7</h1>
    <p>Investiguemos ahora la Zona K/Pg</p>
    <p>Si has mirado en el cartel, seguro que has visto algo... ¿O quizá no?</p>
    <p>Busca bien en el cartel.</p>
    <p>MAPA O FOTO</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>