<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margenP">

        <h2>Explicación</h2>

        <p>¡Sorpresa! Los <b>equinodermos</b> son los campeones de la supervivencia. Este grupo incluye a las estrellas de mar, los erizos de mar y los pepinos de mar. Aunque algunas de sus formas antiguas se extinguieron, muchas especies de <b>equinodermos</b> han sobrevivido desde la época de los dinosaurios hasta hoy en día, ¡y aún siguen vivitas y coleando en nuestros océanos!</p>

        <p>En cambio, los <b>inocerámidos</b> y los <b>ammonites</b> tuvieron mala suerte. Ambos eran criaturas marinas que desaparecieron en la gran extinción de hace 66 millones de años. Así que, si hablamos de supervivencia a lo largo del tiempo, ¡los <b>equinodermos</b> se llevan el premio!</p>

        <p>Es impresionante pensar que algunas de las criaturas que vemos hoy en el mar tienen raíces tan antiguas, ¡como si fueran verdaderos viajeros del tiempo del mundo marino!</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
