<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margenP">

        <h2>Explicación</h2>

        <p>¡Lo has descubierto! La arena de esta parte de la playa está compuesta principalmente por <b>trozos de roca</b>. Pero no cualquier roca, ¡son pequeñas piezas que han sido <i>erosionadas y arrastradas</i> por el tiempo, el agua y las olas!</p>

        <p>Imagina cómo estos trocitos de roca han viajado durante miles de años, desgastándose y mezclándose hasta convertirse en lo que vemos hoy. Cada grano tiene su propia historia, tal vez de una montaña antigua, una roca llejana, <i>una mina</i> o incluso de un volcán olvidado.</p>

        <p>Así que, cuando caminas sobre esta arena, estás pisando millones de años de historia <i>geológica</i> en forma de diminutos <i>fragmentos de roca</i>. ¡Un verdadero tesoro natural bajo tus pies!</p>

    </div>

    <button (click)="volver()" class="btnA">Ok</button>

</div>
